body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.container {
    flex: 1;
}

.footer {
    margin-top: auto;
    padding: 10px;
}

.member-card {
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

textarea {
    height: 100px !important;
}
  
.form-check-input:checked {
    background-color: rgb(200, 200, 200); 
    border-color: rgb(200, 200, 200); 
}
  
.form-check-input {
    background-color: white;
    border-color: white;
}

#card:hover {
    background-color: rgba(0, 0, 0, 0.151);
    transition: background-color 0.7s;
}

.card-body {
    flex: 1;
}

#memberList, #professionList, #recentMemberList, #companyList {
    max-height: 100px;
    overflow-y: auto;
}